<div class=" p-4">
  <div class="row">
    <div class="col-9">
        <h3>Tabla de clientes</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Plan</th>
            <th scope="col">Start Plan</th>
            <th scope="col">End Plan</th>
            <th scope="col">Admin</th>
          </tr>
        </thead>
        <tbody>
          {{#each clientes}}
            <tr>
              <th scope="row">{{clients_id}}</th>
              <td>{{username}}</td>
              <td>{{email}}</td>
              <td>{{password}}</td>
              <td>{{plan}}</td>
              <td>{{timeago start_plan}}</td>
              <td>{{timeago end_plan}}</td>
              <td>{{admin_id}}</td>
              <td><a href="/clients/edit/{{clients_id}}" class="btn btn-info"> <i class="fas fa-user-edit"></i></a></td>
           {{!-- Add Day --}}
              <td style="display: flex; ">
              <button class="btn btn-primary " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="far fa-calendar-plus"></i>
              </button>
              <div class="collapse" id="collapseExample" style="margin: 0 10px;"> 
                  <a href="/clients/editTime1/{{clients_id}}" class="btn btn-success"><i class="far fa-calendar-plus"> 1</i></a>
                  <a href="/clients/editTime3/{{clients_id}}" class="btn btn-success"><i class="far fa-calendar-plus"> 3</i></a>
                  <a href="/clients/editTime6/{{clients_id}}" class="btn btn-success"><i class="far fa-calendar-plus"> 6</i></a>
                  <a href="/clients/editTime12/{{clients_id}}" class="btn btn-success"><i class="far fa-calendar-plus"> 12</i></a>
              </div>  
              </td>
          {{!-- change visibility --}}
          {{#if visibility}}
              <td><a href="/clients/visibility/{{clients_id}}" class="btn btn-success"> <i class="far fa-eye"></i> </a></td>
          {{else}}
              <td><a href="/clients/invisibility/{{clients_id}}" class="btn btn-secondary"> <i class="far fa-eye-slash"></i> </a>
          {{/if}}
              </td>


              <td><a href="/clients/delete/{{clients_id}}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
            </tr>
            {{else}}
                <h3 style="color: rgb(147, 179, 6);">No hay clientes requistrados</h3>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-3">
        {{>addClients}}
    </div>
  </div>
</div>