{{#if user}}
<div class="pt-4 container">
  <div class="row clients-list mx-auto">
    <div class="col-8">
        <h3>Tabla de clientes</h3>
      <table class="table table-clients">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            {{!-- <th scope="col">Password</th> --}}
            <th scope="col">Plan</th>
            <th scope="col">Start Plan</th>
            <th scope="col">End Plan</th>
            <th scope="col">Admin</th>
            <th colspan="4" scope="col" class="text-center">Options</th>
          </tr>
        </thead>
        <tbody>
          {{#each clientes}}
            <tr>
              <th scope="row">{{clients_id}}</th>
              <td>{{username}}</td>
              <td>{{email}}</td>
              {{!-- <td>{{password}}</td> --}}
              <td>{{plan}}</td>
              <td>{{timeago start_plan}}</td>
              <td>{{timeago end_plan}}</td>
              <td>{{admin_id}}</td>


 
                {{!-- Buttons --}}

{{!------------------------------------- Edit -------------------------------------}}
              <td class="buttons-clients-table"><a href="/clients/edit/{{clients_id}}" class="btn btn-info "> <i class="fas fa-user-edit"></i></a></td>

{{!------------------------------------- Delete -------------------------------------}}
              <td  class="buttons-clients-table"><a href="/clients/delete/{{clients_id}}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
  
{{!------------------------------------- Change Visibility -------------------------------------}}
              {{#if visibility}}
                  <td  class="buttons-clients-table"><a href="/clients/visibility/{{clients_id}}" class="btn btn-success"> <i class="far fa-eye"></i> </a></td>
              {{else}}
                  <td  class="buttons-clients-table"><a href="/clients/invisibility/{{clients_id}}" class="btn btn-secondary"> <i class="far fa-eye-slash"></i> </a>
              {{/if}}
                  </td> 

{{!------------------------------------- Add Day -------------------------------------}}
              <td class="d-flex">
                <button class="btn btn-primary" style="margin-right: 5px;" type="button" data-bs-toggle="collapse" data-bs-target="#addDay{{clients_id}}" aria-expanded="false" aria-controls="addDay{{clients_id}}">
                    <i class="far fa-calendar-plus"></i>
                </button>
                <div class="collapse" id="addDay{{clients_id}}"> 
                    <a href="/clients/editTime1/{{clients_id}}" class="btn btn-success d-block mb-1"><i class="far fa-calendar-plus"> 1</i></a>
                    <a href="/clients/editTime3/{{clients_id}}" class="btn btn-success d-block mb-1"><i class="far fa-calendar-plus"> 3</i></a>
                    <a href="/clients/editTime6/{{clients_id}}" class="btn btn-success d-block mb-1"><i class="far fa-calendar-plus"> 6</i></a>
                    <a href="/clients/editTime12/{{clients_id}}" class="btn btn-success d-block mb-1"><i class="far fa-calendar-plus"> 12</i></a>
                </div>  
              </td>

         

            </tr>
            {{else}}
                <h3 style="color: #b2a800;">No hay clientes requistrados</h3>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-3">
        {{>addClients}}
    </div>
  </div>
</div>
{{/if}}