<div class="p-4 mx-auto container">
  <div class="row clients-list">
    <div class="col-12">
        <h3>Tabla de guias</h3>
      <table class="table table-clients">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Perfil</th>
            <th scope="col">Nombre</th>
            <th scope="col">Especie</th>
            <th scope="col">Creación</th>
            <th scope="col">Busquedas</th>
            <th scope="col">Productos</th>
            <th scope="col">Admin</th>
            <th colspan="4" scope="col" class="text-center">Options</th>
          </tr>
        </thead>
        <tbody>
          {{#each guides}}
            <tr>
              <th scope="row">{{guides_id}}</th>
              <td><img width="50px" height="50px" src={{pic_profile}} alt=""></td>
  
              <td>{{name_plant}}</td>
              <td>{{c_especie}}</td>
              <td>{{timeago created}}</td>
              <td>{{searched}}</td>
              <td>{{product}}</td>
              <td>{{admin_id}}</td>


                {{!-- Buttons --}}
  
{{!------------------------------------- See more -------------------------------------}}
              <td  class="buttons-clients-table"><a href="/guides/moreGuide/{{guides_id}}" class="btn btn-success"><i class="fas fa-seedling"></i></a></td>

{{!------------------------------------- Edit -------------------------------------}}
              <td class="buttons-clients-table"><a href="/guides/editGuide/{{guides_id}}" class="btn btn-info "> <i class="fas fa-user-edit"></i></a></td>

{{!------------------------------------- Delete -------------------------------------}}
              <td  class="buttons-clients-table"><a href="/guides/deleteGuide/{{guides_id}}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
  

            </tr>
            {{else}}
                <h3 style="color: #b2a800;">No hay guias añadidas</h3>
          {{/each}}
        </tbody>
      </table>
    <a class="btn btn-success" href="guides/addGuide">add</a>
    </div>
    {{!-- <div class="col-3">
        {{>addGuides}}
    </div> --}}
  </div>
</div>